html{
	margin:0;
	padding: 0;
	font-size: 16px;
}
body{
	font-size: 62.5%;
}

.bd-overflow-hidden{
  overflow: hidden;
}

.bd-overflow-visible{
  overflow: visible;
}
.position-fixed{
  position: fixed;
}
.margin-top-reverse-25{
  margin-top: -25px;
}
/*---背景颜色---*/
.bg-white{
  background-color: #fff;
}
.bg-grey{
  background-color: #f2f2f2;
}
.bg-orange{
  background-color: #e95b35;
}
/*------字体颜色--------*/
.color-orange{
  color: #e96113;
}
.color-grey{
  /*// color: #a5a5a5;*/
  color: #767676;
}
.color-black{
  color: #1a1a1a;
}
.color-white{
  color: #fff;
}
