<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dmall</title>
    <link rel="stylesheet" href="assets/vendor/uikit/css/uikit.min.css" />
    <script src="assets/vendor/jquery/dist/jquery.js"></script>
    <script src="assets/vendor/uikit/js/uikit.min.js"></script>
  </head>
  <body>

    <div id="app" class="uk-grid uk-height-viewport">
      <div v-if="storeData.result==1">
        <top-header :h-title="storeData.name"></top-header>
        <banner :imageurl="storeData.store_image_url"></banner>
        <floor1 :wares="storeData.wares"></floor1>
        <cart></cart>
      </div>
      <!--
      <div v-if="storeData.result==0">
        Not sorry   并没有找到相关店铺
      </div> -->
      <loading v-else></loading>
    </div>

    <script src="/assets/vendor/url/url.js"></script>
    <script src="assets/javascripts/main.js"></script>
  </body>
</html>
