<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dmall</title>
    <link rel="stylesheet" href="assets/vendor/uikit/css/uikit.min.css" />
    <script src="assets/vendor/jquery/dist/jquery.js"></script>
    <script src="assets/vendor/uikit/js/uikit.min.js"></script>
  </head>
  <body>

    <div id="app" class="uk-width-1-1 uk-height-viewport">
      <top-header h-title="大山子酒店"></top-header>
      <banner></banner>
      <promotion></promotion>
      <floor1></floor1>
      <cart></cart>
    </div>

    <script src="assets/javascripts/main.js"></script>
  </body>
</html>
