<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>Dmall</title>
    <link rel="stylesheet" href="assets/vendor/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="assets/style/global.css" />
    <script src="assets/vendor/jquery/dist/jquery.js"></script>
    <script src="assets/vendor/uikit/js/uikit.min.js"></script>
  </head>
  <body>
    <div id="app" class="uk-height-viewport">
      <div v-show="storeData.result==1">
        <!-- <top-header :h-title="storeData.name"></top-header> -->
        <banner :imageurl="storeData.store_image_url"></banner>
        <floor1 :wares="storeData.wares"></floor1>
        <cart :cart_display="cartShow"></cart>
      </div>
      <!--
      <div v-if="storeData.result==0">
        Not sorry   并没有找到相关店铺
      </div> -->
      <loading v-else></loading>
    </div>

    <script src="/assets/vendor/url/url.js"></script>
    <script src="assets/javascripts/main.js"></script>
  </body>
</html>
